<h1>Log in</h1>
<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="control-group">
     <%= f.label :email, :class => "control-label" %>
     <div class="controls">
       <%= f.text_field :email %>
     </div>
  </div>
  <div class="control-group">
     <%= f.label :password, :class => "control-label" %>
     <div class="controls">
       <%= f.password_field :password %>
     </div>
  </div>
  <div class="form-actions">
    <%= f.submit "Login", :class => "btn btn-success" %>
    <%= link_to "Back", users_path, :class => "btn" %>
  </div>
<% end %>
<p>New user? <%= link_to "Register now!", register_path %></p>
