<%= form_for(@instance) do |f| %>
  <% if @instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instance.errors.count, "error") %> prohibited this instance from being saved:</h2>

      <ul>
      <% @instance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rounds %><br />
    <%= f.number_field :rounds %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :sheet_id %><br />
    <%= f.number_field :sheet_id %>
  </div>
  <div class="field">
    <%= f.label :team_a %><br />
    <%= f.number_field :team_a %>
  </div>
  <div class="field">
    <%= f.label :team_b %><br />
    <%= f.number_field :team_b %>
  </div>
  <div class="field">
    <%= f.label :public %><br />
    <%= f.check_box :public %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :auto_assign %><br />
    <%= f.check_box :auto_assign %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
