<h1>Listing instances</h1>

<table>
  <tr>
    <th>Rounds</th>
    <th>Start</th>
    <th>Sheet</th>
    <th>Team a</th>
    <th>Team b</th>
    <th>Public</th>
    <th>Creator</th>
    <th>Auto assign</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instances.each do |instance| %>
  <tr>
    <td><%= instance.rounds %></td>
    <td><%= instance.start %></td>
    <td><%= instance.sheet_id %></td>
    <td><%= instance.team_a %></td>
    <td><%= instance.team_b %></td>
    <td><%= instance.public %></td>
    <td><%= instance.creator_id %></td>
    <td><%= instance.auto_assign %></td>
    <td><%= link_to 'Show', instance %></td>
    <td><%= link_to 'Edit', edit_instance_path(instance) %></td>
    <td><%= link_to 'Destroy', instance, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instance', new_instance_path %>
