<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sheet.name %>
</p>

<p>
  <b>Creator:</b>
  <%= @sheet.creator_id %>
</p>

<p>
  <b>Topic:</b>
  <%= @sheet.topic_id %>
</p>


<%= link_to 'Edit', edit_sheet_path(@sheet) %> |
<%= link_to 'Back', sheets_path %>
