<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Nick</th>
    <th>Answers r</th>
    <th>Answers w</th>
    <th>Wins</th>
    <th>Losses</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.nick %></td>
    <td><%= user.answers_r %></td>
    <td><%= user.answers_w %></td>
    <td><%= user.wins %></td>
    <td><%= user.losses %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <% if current_user.admin? %>
      <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
