<div class="row-fluid">
  <div class="span4">
    <h1>ruby on rails / nginx + unicorn * bootstrap</h1>
    <%= link_to "Users", users_path %><br />
    <%= link_to "Teams", teams_path %><br />
    <%= link_to "Sheets", sheets_path %><br />
    <%= link_to "Pairs", pairs_path %><br />
    <%= link_to "Instances", instances_path %><br />
  </div>
</div>
