<section>
<div class="row-fluid">
  <div class="span12">
    <div class="hero-unit">
      <h1>tugowa</h1>
      <p>&nbsp;</p>
      <p>tugowa is introducing a new way to learn on the web: competitively. 
          Compete with friends and strangers while testing your knowledge on any subject. Choose from
                one of our topics or create your own.
      </p>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <p>&nbsp;</p>
      </div>
      <div class="span4">
        <legend>Reserve your spot.</legend>
      <fieldset>
        <%= form_for(@preorder, :html => {:class => "form-horizontal"}) do |f| %>
        <% if @preorder.errors.any? %>
          <% error_cls = "error" %>
          <div id="error_explanation">
            <h2 style="display:none;"><%= pluralize(@preorder.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% @preorder.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% else %>
          <% error_cls = "" %>
        <% end %>

        <div class="control-group <%= error_cls %>">
          <%= f.label :email, :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :email %>
          </div>
        </div>
        <div class="form-actions" style="background:transparent;">
          <%= f.submit "Reserve", :class => "btn-large btn-success" %>
        </div>
        <% end %>
      </fieldset>
    </div>
    <div class="span4">
      <p>&nbsp;</p>
    </div>
  </div>
</div>
</div>
</section>
